
<div class="row">
    <div class="col-lg-12">
        <!-- Section Tittle -->
        <div class="section-tittle section-tittle2 text-center mb-80">
            <span>Want to learn? We're here to help!</span>
            <h2>How It Works</h2>
        </div>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-lg-3 col-md-6">
        <div class="single-services text-center mb-50">
            <div class="services-icon">
                <span class="flaticon-list"></span>
            </div>
            <div class="services-cap">
                <h5><a href="">1. Choose a Course</a></h5>
                <p>simply pick a course that suits your interest. More courses will be available soon!</p>
            </div>
            <!-- Shpape -->
            <img class="shape1 d-none d-lg-block" src="assets/img/icon/serices1.png" alt="">
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="single-services text-center mb-50">
            <div class="services-icon">
                <span class="flaticon-problem"></span>
            </div>
            <div class="services-cap">
                <h5><a href="">2. Videos</a></h5>
                <p>Watch videos on your favorite coding topics and learn something new!</p>
            </div>
            <img class="shape2 d-none d-lg-block" src="assets/img/icon/serices2.png" alt="">
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="single-services text-center mb-50">
            <div class="services-icon">
                <span class="flaticon-respect"></span>
            </div>
            <div class="services-cap">
                <h5><a href="">3. interactive learning</a></h5>
                <p>Encounter engaging coding problems that help you become an intuitive programmer through experience and practice</p>
            </div>
        </div>
    </div>
</div>
