{% extends "layout.html" %}
{% block content %}


<!-- Hero Start-->
<div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap text-center pt-50">
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hero End -->

<div class="popular-location section-padding30" id="scrollHere">
    <div class="container">
            <div class="row">
                <h3 class="text-heading">You need to be a teacher to access this page! </h3>

            </div>
        </div>
    </div>
</div>



{% endblock content %}